html {
  overflow-y: hidden;
}

/* page */
.page-action-with-comments {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */
.header {
}

/* navbar */
.navbar {
  min-height: initial;
  z-index: initial;
}

.navbar-menu {
  padding: 0 0.25rem;
  box-shadow: none;
}

.navbar-item {
  display: inline-flex;
}

.navbar-end {
  display: flex;
}

.config-header-menu {
  display: flex;
  justify-content: flex-end;
}

.progress {
  height: 2px;
  border-radius: 0px;
}

.progress-stopped {
  height: 2px;
  background-color: rgba(65, 65, 65, 0.1);
}

/* main */
.main-container {
  flex: 1;
  overflow-y: auto;
}

/* side menu */
.main-side-menu {
  max-width: 6rem;
  overflow-y: auto;
  scrollbar-color: var(--bulma-border) var(--bulma-background);
}

.side-menu-list {
}

.side-menu-list a[role='button'] {
  border-radius: initial;
}

/* comments */
.comments {
  overflow-y: auto;
  scrollbar-color: var(--bulma-border) var(--bulma-background);
}

/* config */
.setup {
  display: flex;
  justify-content: center;
}

.setup li:not(:first-of-type):before {
  content: '|';
  padding: 0 0.5rem;
}

.error-message {
  height: 2rem;
  text-align: center;
  color: #f14668;
}

/* common */
.flex-grow-1 {
  flex-grow: 1;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.icon.active {
  color: #485fc7;
}

/* bulma */
.card {
  margin-bottom: initial !important;
  border-radius: initial;
}

.card-header {
  border-radius: initial !important;
}

.section {
  padding: 1rem 1.5rem;
}
