.page-action-with-comments {
  height: 600px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar {
  min-height: initial;
  z-index: initial;
}

.navbar-menu {
  padding: 0 .25rem;
  box-shadow: none;
}

.navbar-item {
  display: inline-flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.progress {
  height: 2px;
  border-radius: 0px;
}

.progress-stopped {
  height: 2px;
  background-color: rgba(65, 65, 65, 0.1);
}

.side-menu-list {
  position: fixed;
  top: 42px;
  overflow-y: scroll;
  width: 33.33333%;
  height: calc(100% - 42px);
  border-right: 1px solid hsl(0, 0%, 90%);
}

.side-menu-list::-webkit-scrollbar {
  display: none;
}

.content-container {
  padding-top: 42px !important;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}
